:root{
  --white: #fff;
  --black: #000;


  --primary-1:#F84F87;
  --primary-2:#f1709b;
  --primary-2:#f09bb7;

  --accent-0: #16aa4f;
  --accent-1: #16aa4f;
  --accent-2: #16aa4f;


  --neutral-1: #434343;
  --neutral-2: #94868b;
  --neutral-3: #C4C4C4;
  --neutral-4: #d9cfd3;

 

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ############ Body ########### */
body{
  margin: 0;
  background-color:var(--white);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

header,
footer{
  background-color: var(--accent-1);
  
}

/* ############ Search ########### */
/* ####### Input ####### */
input
{
  padding: 20px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin: 0 50px;

}

.search label {
  display: inline-block;
  width: 50%;
  font-size: 40px;
  margin: 30px;
 
}
.search{
  text-align: center;
  width: 100vw;
}

/* ############ Header ########### */
header{
 
}
ul li{
  list-style-type: none;
  display: inline-block;
  margin: 20px;
  font-size: 40px;
}


a{
  color: var(--white);
  text-decoration: none;
}

.active{
  color:var(--primary-1);
}

/* ############ Main ########### */
main{
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

}

/* ############ Home ########### */
main .home{
  background-image: url("https://source.unsplash.com/3ZUsNJhi_Ik");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.home{
  position: relative;
  width: 100%;
  padding-top: 0;
  height: 75vh;
  justify-content: space-between;
  align-items: center;
}

/* ############ Footer ########### */
footer{
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  text-align: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  padding: 50px;
  height: 20vh;
  margin: 0 auto;
}

.footer-wrap{
  display: flex;
  justify-content: space-between;
  text-align: left;
}